.add-folder {
    margin-top: .5rem;
    text-align: right;
  }
  
.add-folder button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

.folder {
    margin: 10px;
}
  
.folder-info-box {
    background-color: #164863;
    padding: 20px;
    border: 5px solid #427D9D;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}
  
.folder-info-box h3 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
  
hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}
  
.folder-info-box p {
    font-size: 1rem;
    color: #DDF2FD;
    flex-grow: 1;
    margin: 0;
    width: 15rem;
}
  
.folder-info-footer {
    font-size: 0.9rem;
    text-align: right;
    margin-top: 15px;
}

.folder-info-footer p {
    font-size: 0.75rem;
    color: #9e9e9e;
}

.folder .delete-folder {
    margin-top: -60px;
    margin-left: 265px;
    padding: 10px;
}
